<section class="philosophy" id="philosophyDiv">
    <div class="container headings text-center">
      <h1 class="text-center font-weight-bold">OUR PHILOSOPHY</h1>
      <br/><br/>
    </div>
    <div class="container">
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-10 col-xs-10 offset-sm-1 offset-xs-1">
      <div class="testimonial-quote group">
        <img src="../../assets/MrRoby.png">
        <div data-aos="flip-right" class="quote-container">
            <blockquote>
                <p class="text-justify">3Spire’s IT branch has been founded on the notion to give young students originating from weak social backgrounds an opportunity to evolve and utilize their skills and talent in order to achieve a better future for themselves.</p>
                <p class="text-justify">The goal is to not only form them into experts of their field, but to also provide professional guidance through the various stages of their personal development.</p>
                <p class="text-justify">After almost two years of individual coaching we have 2 young professionals leading the team located in Dhaka, Bangladesh. Plans are being made to increase the number of students and give them the opportunity to kick start their professional careers in an international environment.</p>
            </blockquote>  
            <cite><span>Roby Rahman</span><br>
                3Spire - Managing Director
            </cite>
        </div>
        <hr style="margin: 60px auto; opacity: .5;">
    </div>  
    <div class="testimonial-quote group right">
      <img src="../../assets/MrNuwan.png">
      <div data-aos="flip-left" class="quote-container">
          <div>
              <blockquote>
                  <p class="text-justify font-weight-bold">Innovation</p>
                  <p class="text-justify">Originating from the way we have built our company, we aim to build sustainable and productive solutions for our clients. Our team is young, motivated and creative, but most importantly, we are enthusiastic about building valuable products and constantly learning through this process. We take our time to analyze the “current” and plan towards the “future”.</p>
                  <p class="text-justify font-weight-bold">Integrity</p>
                  <p class="text-justify">Having held several positions in the IT field in the past we realize how important trust, honesty and moral principles are when it comes to delivering well thought out products. With 3Spire you can count on these qualities. We will consult with you if we feel that the desired solution cannot be achieved within the time constraints  which are desired to achieve the best possible solution. What is most important to us that we WILL deliver a product which incorporates your trust and belief!</p>
                  <p class="text-justify font-weight-bold">Confidence</p>
                  <p class="text-justify">As a start-up we are currently a small team of professionals working towards the same goal. To deliver quality products with which our clients are more than satisfied with. With the constant growing knowledge of each individual, we can offer the latest information and expertise in the market. As we spend a good amount of time for the gathering the essential requirements of a project, we understand very well how to approach the implementation of a desired product. This gives us the confidence to keep our word and in return, being involved in each step, give you the confidence in us!</p>
  
              </blockquote>  
              <cite><span>Nuwan Gomes</span><br>
                  3Spire - Managing Director
              </cite>
          </div>
      </div>
  </div>   
</div>  
</div>
        
    </div>
  </section>