<div class="header" id="topHeader">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
      <div class="container-fluid container p-2">
      <a class="navbar-brand" href="#"><span class="font-weight-bold" style="color: #289711; font-size: 2rem;">3</span>&nbsp;<span class="font-weight-bold" style="color: #006cc5;font-size: 2rem;">SPIRE</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#topHeader"><span class="text-white font-weight-bold" >HOME</span> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ourServicesDiv"><span class="text-white font-weight-bold" >SERVICES</span>  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#teamDiv"><span class="text-white font-weight-bold" >TEAM</span> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#philosophyDiv"><span class="text-white font-weight-bold" >PHILOSOPHY</span> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ourSkilsDiv"><span class="text-white font-weight-bold" >SKILLS</span>  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#followUsDiv"><span class="text-white font-weight-bold" >FOLLOW-US</span> </a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
    <section class="header-section">
      <div class="center-div">
        <div class="imp-container">
          <div class="img-div">
          </div>
        </div>
        
        <!---->
          <h2 class="font-weight-bold text-white text-center"> 3 SPIRE</h2>
      </div>
    
    </section>
    </div>
