<footer class="footerSection" id="footerDiv">
 
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="d-flex justify-content-center">
            <i class="fa fa-home" aria-hidden="true"></i><span class="text-white">&nbsp;  Trondheimgasse 4/1/14, 1220 Wien</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="d-flex justify-content-center">
            <i class="fa fa-envelope" aria-hidden="true"></i><span class="text-white">&nbsp; Office@3Spire.net</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="d-flex justify-content-center">
            <i class="fa fa-briefcase" aria-hidden="true"></i><span class="text-white">&nbsp; FNr: 435911X / UID: ATU71146789</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="d-flex justify-content-center">
            <i class="fa fa-bank" aria-hidden="true"></i><span class="text-white">&nbsp; AT16 1420 0200 1096 5889 BIC EASYATW1</span>
          </div> 
        </div>
      </div>
  

  </footer>