<section data-aos="slide-up" class="followUs" id="followUsDiv">
    <div class="container headings text-center">
      <h1 class="text-center font-weight-bold">FOLLOW US</h1>
      <br/><br/>
    </div>
    <div class="container">
      <div class="social-icon d-flex justify-content-center">
        <div style="float: left; margin-left: 10px;">
          <a href="#"><img src="../../assets/facebook.png"/></a>
        </div>
          <div style="margin-left: 10px;">
            <a href="#"><img src="../../assets/linkedin.png"/></a>
          </div>
            
      </div>
    </div>
  </section>