<section class="ourSkils" id="ourSkilsDiv">
    <div class="container headings text-center">
      <h1 class="text-center font-weight-bold">OUR SKILLS</h1>
      <br/><br/>
    </div>
    <div data-aos="zoom-in" class="container">
      <div class="row">
        <div class="skills-div col-lg-6 col-md-6 col-12 ">
          <div>
            <p class="text-justify">
              We are quite well-versed in karaoke, cooking quality meals, deep conversations regarding world events/supernatural occurrences/current technologies and just having a good time, but jokes aside- once it is game time, we take our work very seriously. As the Japanese say 花鳥風月 (Kachou Fuugetsu) - Experience the beauties of nature, and in doing so learn about yourself. We guarantee to accompany your project from start to finish, delivering a solution that fits your requirements and needs. We can guarantee that we will always strive for perfection! 
            </p>
          </div>
        </div>
        <div class="skills-div col-lg-6 col-md-6 col-12 ">
          <div class="names">
            <h1>Project Management:</h1>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
          </div>
          <div class="names">
            <h1>Requirements Analysis:</h1>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
          </div>
          <div class="names">
            <h1>Design:</h1>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
          </div>
          <div class="names">
            <h1>Coding:</h1>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
          </div>
          <div class="names">
            <h1>Motivation:</h1>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
          </div>
        </div>
        
      </div>
  
    </div>
  </section>